@import url(reset.css);
@import url(font.css);
@import url(typography.css);

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.clearfix{
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
/*============================================== Layout ==================================================================================== */

#col-1{
    
    background-color: red;
    width: 169px;
    float: left;
    height: 100%;
}
header{
    height: 78px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
#col-2{
    
    background-color: yellow;
    width: calc(100% - 169px - 188px);
    float: left;
    height: 100%;
}
#col-3{
    background-color: #111;
    width: 188px;
    float: left;
    height: 100%;
    text-align: right;
    padding-top: 20px;
    padding-right: 38px;
}

/*                                                                                                      inside col 3  */
#globe{
    height: 32px; 
    width: 32px;
    color: white;
    font-size: 1.2rem;
    vertical-align: middle;
    


}
#globe:hover{
    background-color: rgba(128, 128, 128, 1);
    cursor: pointer;
    border-radius: 6.4px;
}

#play-now{
   padding: 8px 16px;
   height: 32px;
   font-size: 13px;
   border-radius: 12px;
   font-weight: bold;
   border-color: transparent;

   background:linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%) ;
   transition: background 50ms;
   
}
#play-now:hover{
    background: rgb(255, 70,85);
    cursor: pointer;
    
    
}
#col-3-inner-1{
    display: inline-block;
    
}
#col-3-inner-2{
    display: inline-block;
    vertical-align: middle;
    
}
